{% extends "mail/layout.html" %}
{% load static %}

{% block body %}
<header>
    <h1>semaphore 2.0</h1>
    <div id="header-right">
        <span>{{ request.user.email }}</span>
        <a href="{% url 'logout' %}">Log Out</a>
    </div>
</header>

<nav>
    <button id="inbox">Inbox</button>
    <button id="compose">Compose</button>
    <button id="sent">Sent</button>
    <button id="archived">Archived</button>
</nav>

<main>
    <div id="emails-view">
    </div>

    <div id="compose-view">
        <h3>New Email</h3>
        <form id="compose-form">
            <!-- <div>
                From: <input disabled value="{{ request.user.email }}">
            </div> -->
            <div>
                <label for="compose-recipients">To</label>
                <input id="compose-recipients">
            </div>
            <div>
                <label for="compose-subject">Subject</label>
                <input id="compose-subject">
            </div>
            <textarea id="compose-body"></textarea>
            <input type="submit" id="submit-mail" value="Send Mail" />
        </form>
    </div>
</main>

<footer>
    <small>&#169;AGS</small>
</footer>
{% endblock %}

{% block script %}
<script src=" {% static 'mail/inbox.js' %}"></script>
{% endblock %}