{% extends "mail/layout.html" %}
{% load static %}

{% block body %}
<div class=logged-in>
    <header>
        <h1>semaphore 2.0</h1>
        <div id="header-right">
            <span>{{ request.user.email }}</span>
            <a href="{% url 'logout' %}">Log Out</a>
        </div>
    </header>

    <nav>
        <button class="nav-btn" id="inbox">Inbox</button>
        <button class="nav-btn" id="compose">Compose</button>
        <button class="nav-btn" id="sent">Sent</button>
        <button class="nav-btn" id="archived">Archived</button>
    </nav>


    <!-- There is always just one <main> visible -->
    <main id="emails-view"></main>

    <main id="display-view">
        <div>
            <p><span class="bold">From: </span><span id="from"></span></p>
            <p id="timestamp"></p>
        </div>
        <p><span class="bold">To: </span><span id="to"></span></p>
        <div>
            <p><span class="bold">Subject: </span><span id="subject"></span></p>
            <p id="mail-btns">
                <button id="reply"><i aria-hidden="true" class="fas fa-reply" title="Reply"></i><span
                        class="sr-only">Reply</span></button>
                <button id="not-read"><i aria-hidden="true" class="fas fa-envelope" title="Mark as not read"></i><span
                        class="sr-only">Mark as not read</span></button>
                <button id="archive"><i aria-hidden="true" class="fas fa-archive" title="Archive"></i><span
                        class="sr-only">Archive</span></button>
            </p>
        </div>
        <p id="body"></p>
    </main>

    <main id="compose-view">
        <h2>New Email</h2>
        <div id="send-mail"></div>
        <form id="compose-form">
            <div>
                <label for="compose-recipients">From</label>
                <input disabled value="{{ request.user.email }}">
            </div>
            <div>
                <label for="compose-recipients">To</label>
                <input id="compose-recipients">
            </div>
            <div>
                <label for="compose-subject">Subject</label>
                <input id="compose-subject">
            </div>
            <textarea id="compose-body"></textarea>
            <input type="submit" value="Send Mail" />
        </form>
    </main>

    <footer>
        <small>&#169;AGS</small>
    </footer>
</div>
{% endblock %}

{% block script %}
<script src=" {% static 'mail/inbox.js' %}"></script>
{% endblock %}