{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{% block title %}Mail{% endblock %}</title>
        <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous"> -->
        <link rel="stylesheet" href="{% static 'mail/styles.css' %}">
        {% block script %}
        {% endblock %}
    </head>
    <body>
        <header>
            <h1>semaphore 2.0</h1>
            <div id="header-right">
                <span>{{ request.user.email }}</span>
                <a href="{% url 'logout' %}">Log Out</a>
            </div>
        </header>

        <nav>
            <button id="inbox">Inbox</button>
            <button id="compose">Compose</button>
            <button id="sent">Sent</button>
            <button id="archived">Archived</button>
        </nav>

        <main>
            {% block body %}
            {% endblock %}
        </main>

        <footer>
            <p>&#169;AGS</p>
        </footer>
    </body>
</html>