{% extends "mail/layout.html" %}

{% block body %}

<div class="logged-out">
    <div>
        <h2>Login</h2>

        {% if message %}
        <div class="message">{{ message }}</div>
        {% endif %}

        <form action="{% url 'login' %}" method="post">
            {% csrf_token %}
            <div>
                <input autofocus type="email" name="email" placeholder="Email">
            </div>
            <div>
                <input type="password" name="password" placeholder="Password">
            </div>
            <span>Don't have an account?
                <a href="{% url 'register' %}">Register here.</a></span>
            <input type="submit" value="Login">
        </form>


    </div>

</div>

{% endblock %}